.writebox{
    padding-bottom:10rem;
}

section{
    color: #111;
    position:relative;
    margin-bottom:10rem;
    border-bottom:1.5px solid black;
    width:80%;
}
.dt_title{
    font-size:2.5rem;
    
    padding-bottom:1rem;
    border-bottom:1.5px solid black;
    margin-bottom:2rem;
}
.dt_title span{
    font-size:1.5rem;
}
.dt_desc{
    display:inline-block;
    padding-bottom:1rem;
    line-height:1.5;
}

.dt_create_at{
    position:absolute;
    bottom: -5rem;
    left:0;
}
.update_btn{
    position:absolute;
    bottom: -5rem;
    right:0;
}