.tab .tabindex{
  padding : 1.3vh 0.4vw 1.3vh 0.4vw;
  margin-left: 1vh;
  border-radius: 5px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
  background : #0fbcf9;
  color : #fff;
  vertical-align: center;
  align-items : center;
  font-size : 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition : all 0.2s ease;
  overflow: hidden;
  display: inline-block;
  list-style: none;
  border-bottom: 1vh solid #0fbcf9;
}

.tabindex::before{
  content:"";
  position : absolute;
}

.tabindex:last-child{
  margin-bottom: 0;
}

.tab .tabindex.current{
  background : #546de5;
  color : #fff;
}

#rightnav {
  width: 261px;
}

.setting-bar {
  clear: both;
  display: flex;
  padding : 0 20px;
}

.settinglist {
  float : right;
  position : relative;
  padding : 15px 20px;
  margin-left : 30px;
  fill : black;
  cursor : pointer;
}

.setting-bar img {
  height: 70px;
}

.search {
  margin-top : 10vh;
  width:100%;
  min-height: 5vh;
  display:flex;
  justify-content : space-evenly;
}

@media screen and (max-width: 1200px) {
  .search {
    width : 1200px;
    display: flex;
  }
  .containers.active {
    width : 1200px;
    display: flex;
  }
}

.containerbox {
  width:100%;
  height: 65vh;
  margin : 0 auto;
  display: flex;
}

.containers {
  width:100%;
  height: 65vh;
  margin : 0 auto;
  display : none;
}

.containers.active {
  display: flex;
  justify-content: space-between;
  margin-top:30px;
}

.items {
  width : 100vw;
  height : 100%;
  /* display: flex; */
  position: relative;
  margin : 5vh 0 5vh;
  padding-left : 20px;
  justify-content: center;
  align-content: center;
  text-align : center;
}

h3 {
  display: flex;
}

form {
  width : 500px;
  justify-content: center;
}

.items input {
  width : 100%;
  box-sizing : border-box;
  height : 46px;
  text-indent : 16px;
  margin-bottom : 5px;
}

.items input::-webkit-input-placeholder {
  font-size : 16px;
  text-indent : 16px;
}


form input[type=submit] {
  width : 100%;
  height : 46px;
  line-height : 46px;
  background-color : #0fbcf9;
  font-size : 18px;
  color : #fff;
  cursor: pointer;
}