.tab .tabindex{
  padding : 1.3vh 0.4vw 1.3vh 0.4vw;
  margin-left: 1vh;
  border-radius: 5px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
  background : #0fbcf9;
  color : #fff;
  vertical-align: center;
  align-items : center;
  font-size : 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition : all 0.2s ease;
  overflow: hidden;
  display: inline-block;
  list-style: none;
  border-bottom: 1vh solid #0fbcf9;
}

.tabindex::before{
  content:"";
  position : absolute;
}

.tabindex:last-child{
  margin-bottom: 0;
}

.tab .tabindex.current{
  background : #546de5;
  color : #fff;
}

.dropdown{
  height: 60px;
  width: 150px;
  padding:10px 10px;
  box-sizing:border-box;
  font-size : 25px;
  border-radius: 10px;
  border:solid 1px #8c8c8c;
  background-color: white;

  position: relative;

  cursor:pointer;

}

.dropdown_display{
  display: flex;
  justify-content: space-evenly;
  font-weight: 800;
}

.dropdown_itembox{
  background-color: white;
  border:solid 1px #8c8c8c;
  border-radius: 10px;
  position: absolute;
  
  margin-top:15px;
  margin-left:-10px;
  font-size: 20px;
  box-sizing:border-box;
  width:100%;

  overflow: hidden;

  display: none;
}

.dropdown_item{
  padding:10px ;
}

a .dropdown_item {
  text-decoration: none;
  color : #000;
}

.dropdown_item:hover{
  background-color: #e7e7e7;
}

a {
  text-decoration: none;
}
.show{
  display: block;
}


.setting-bar {
  clear: both;
  display: flex;
  padding : 0 20px;
}

.settinglist {
  float : right;
  position : relative;
  padding : 15px 20px;
  margin-left : 30px;
  fill : black;
  cursor : pointer;
}

.setting-bar img {
  height: 70px;
}

.login {
  margin-left: 150px;
}

.loginbutton{
  padding : 1.3vh 1vh;
  border-radius: 5px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
  background : #0fbcf9;
  color : #fff;
  vertical-align: center;
  align-items : center;
  font-size : 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition : all 0.2s ease;
  overflow: hidden;
  display: inline-block;
  border: none;
}

.search {
  margin-top : 10vh;
  margin-left : 5px;
  width:100%;
  min-height: 5vh;
  display:flex;
  justify-content : space-evenly;
}

@media screen and (max-width: 1200px) {
  .search {
    width : 1200px;
    display: flex;
    justify-content : none; 
  }
  .containers.active {
    width : 1200px;
    display: flex;
  }
}


.search-items {
  position: relative;
  display: block;
}


.searchTerm {
  width: 240px;
  border: 3px solid;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  outline: none;
}

.search-submit {
  color: white;
  border-style: outset;
  border-radius: 5px;
  height: 100%;
  width: 20%;
  min-width: 100px;
  min-height : 17px;
  font: bold 15px;
  text-shadow:none;
  cursor : pointer;
}

#google-searchTerm {
  color: #3498db;
}
#google-submit {
  background: #3498db;
  border-color: #3498db;
}

#youtube-searchTerm {
  color: #ff3838;
}
#youtube-submit {
  background: #ff3838;
  border-color: #ff3838;
}

#naver-searchTerm {
  color: #1ec800;
}
#naver-submit {
  background: #1ec800;
  border-color: #1ec800;
} 

#namu-searchTerm {
  color: #11A976;
}
#namu-submit {
  background: #11A976;
  border-color: #11A976;
}

#twitter-searchTerm {
  color: #1DA1F2;
}
#twitter-submit {
  background: #1DA1F2;
  border-color: #1DA1F2;
}

#instagram-searchTerm {
  color: #DA2E78;
}
#instagram-submit {
  background: #DA2E78;
  border-color: #DA2E78;
} 

.containerbox {
  width:100%;
  height: 65vh;
  margin : 0 auto;
  display: flex;
  justify-content:center;
}

.containers {
  width:100%;
  height: 65vh;
  margin : 0 auto;
  display : none;
}

.containers.active {
  display: flex;
  justify-content: space-between;
  margin-left : 10px;
}

.containeritem {
  width : 100%;
  height : 100%;
  display: flex;
  position: relative;
}

h3 {
  text-align : center;
}

.items {
  align-items: center;
}

.item {
  list-style: none;
  border-style: outset;
  border-radius: 5px;
  margin-bottom : 5px;
  cursor : pointer;
  border-radius: 5px;
  display: block;
  width : 150px;
  height : 40px;
  align-items: center;
  text-align : center;
  @font-face { font-family: 'BlackHanSans-Regular';
    src: url('../AIMfont/BlackHanSans-Regular.ttf') format('truetype');}
}

.items a {
  color : #fff;
  text-decoration: none;
  font : bold 15px;
}

.item a:visited { 
  color : #fff;
}

h3 {
  display: flex;
}

/* -moz-linear-gradient : FF3.6-15
-webkit-linear-gradient : Chrome10-25,Safari5.1-6
linear-gradient : W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient : IE6-9 */

.google-item {
  background: #3498db; /* Old browsers */
  /* background: -moz-linear-gradient(top, #3498db 0%, #7db9e8 100%); 
  background: -webkit-linear-gradient(top, #3498db 0%,#7db9e8 100%); 
  background: linear-gradient(to bottom, #3498db 0%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#7db9e8',GradientType=0 );  */

  /* color : #ff3f34; */
}

.naver-item {
	background: #1ec800; /* Old browsers */
  /* background: -moz-linear-gradient(top, #1ec800 0%, #8fc485 100%); 
  background: -webkit-linear-gradient(top, #1ec800 0%,#8fc485 100%); 
  background: linear-gradient(to bottom, #1ec800 0%,#8fc485 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ec800', endColorstr='#8fc485',GradientType=0 );  */
}

.kakao-item {
  background: #fae301; /* Old browsers */
  /* background: -moz-linear-gradient(top, #fae301 0%, #f9ee84 100%); 
  background: -webkit-linear-gradient(top, #fae301 0%,#f9ee84 100%); 
  background: linear-gradient(to bottom, #fae301 0%,#f9ee84 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae301', endColorstr='#f9ee84',GradientType=0 );  */
}

a > .kakao-item {
  color : #391B1B !important;
  border-color : #ffffff;
}

.red-item {
	background: #ea2027; /* Old browsers */
  /* background: -moz-linear-gradient(top, #ea2027 0%, #e57274 100%); 
  background: -webkit-linear-gradient(top,#ea2027 0%,#e57274 100%); 
  background: linear-gradient(to bottom, #ea2027 0%,#e57274 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2027', endColorstr='#e57274',GradientType=0 );  */
}

.purple-item {
	background: #be2edd; /* Old browsers */
  /* background: -moz-linear-gradient(top, #be2edd 0%, #c76ddb 100%); 
  background: -webkit-linear-gradient(top,#be2edd 0%,#c76ddb 100%); 
  background: linear-gradient(to bottom,#be2edd 0%,#c76ddb 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2edd', endColorstr='#c76ddb',GradientType=0 );  */
}

.blue-item {
	background: #3742fa; /* Old browsers */
  /* background: -moz-linear-gradient(top, #3742fa 0%, #8c95f7 100%); 
  background: -webkit-linear-gradient(top, #3742fa 0%,#8c95f7 100%); 
  background: linear-gradient(to bottom, #3742fa 0%,#8c95f7 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3742fa', endColorstr='#8c95f7',GradientType=0 );  */
}

.pink-item {
	background: #ff6b81; /* Old browsers */
  /* background: -moz-linear-gradient(top, #ff6b81 0%, #ffb7c1 100%); 
  background: -webkit-linear-gradient(top, #ff6b81 0%,#ffb7c1 100%); 
  background: linear-gradient(to bottom, #ff6b81 0%,#ffb7c1 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b81', endColorstr='#ffb7c1',GradientType=0 );  */
}

.skyblue-item {
	background: #0fbcf9; /* Old browsers */
  /* background: -moz-linear-gradient(top, #0fbcf9 0%, #96dff7 100%); 
  background: -webkit-linear-gradient(top, #0fbcf9 0%,#96dff7 100%); 
  background: linear-gradient(to bottom, #0fbcf9 0%,#96dff7 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fbcf9', endColorstr='#96dff7',GradientType=0 );  */
}

.black-item {
  background: #1e272e; /* Old browsers */
  /* background: -moz-linear-gradient(top, #1e272e 0%, #8c8c8c 100%); 
  background: -webkit-linear-gradient(top, #1e272e 0%,#8c8c8c 100%); 
  background: linear-gradient(to bottom, #1e272e 0%,#8c8c8c 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e272e', endColorstr='#8c8c8c',GradientType=0 );  */
}

.yellow-item {
  background: #ffd32a; /* Old browsers */
  /* background: -moz-linear-gradient(top, #ffd32a 0%, #f9ee84 100%); 
  background: -webkit-linear-gradient(top, #ffd32a 0%,#f9ee84 100%); 
  background: linear-gradient(to bottom, #ffd32a 0%,#f9ee84 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd32a', endColorstr='#f9ee84',GradientType=0 );  */
  color : #000000;
  border-color : #ffffff;
}

.green-item {
	background: #009432; /* Old browsers */
  /* background: -moz-linear-gradient(top, #009432 0%, #8fc485 100%); 
  background: -webkit-linear-gradient(top, #009432 0%,#8fc485 100%); 
  background: linear-gradient(to bottom, #009432 0%,#8fc485 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009432', endColorstr='#8fc485',GradientType=0 );  */
}

.orange-item {
	background: #fa8231; /* Old browsers */
  /* background: -moz-linear-gradient(top, #fassent( startColorstr='#fa8231', endColorstr='#f9b07f',GradientType=0 );  */
}