{% extends "base.html"%}
{% load static %}
{% block head %}
    <link href="{% static 'AIMcss/board.css' %}" rel="stylesheet" />
{% endblock %}

{% block leftnav %}

{% endblock %}

{% block rightnav%}
        <a class="write_btn" href="{% url 'create' %}">
            글쓰기
        </a>
{% endblock %}

{% block content %}


<div class="boardbox">
        
    <div class="settingbar">
        <div class="cnt_post">
            {{all_post|length}}개의 게시글
        </div>

    </div>
    <section>
        <div class="post_row post_row_label">
            <div class="post_id"> 번호 </div>
            <div class="post_title"> 제목 </div>
            <div class="post_author">작성자</div>
            <div class="post_date">작성일</div>
        </div>
    
        {% for one_post in page_obj %}
            <a href="{% url 'detail' one_post.id %}">
                <div class="post_row">
                    <div class="post_id"> {{one_post.id}} </div>
                    <div class="post_title"> {{one_post.title}}</div>
                    <div class="post_author"> {{one_post.author}}</div>
                    <div class="post_date">{{one_post.create_at|date:" y-m-d A g:i "}}</div>
                </div>
            </a>
        {%endfor%}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </section>

</div>
{%endblock%}