{% extends 'base.html' %}
{%load static%}
{% block head %}
    <link rel="stylesheet" href="{% static 'AIMcss/detail.css' %}" type="text/css" />
{% endblock %}
{% block content %}

<div class="writebox">

<h1>DETAIL PAGE</h1>

<section>
    
<div class="dt_title">
    제목 : {{detail_post.title}} 
    <span>-by {{detail_post.author}}</span>
</div>

<div class="dt_desc">
    {{detail_post.desc}}

</div>

<div class="dt_create_at">
    {{detail_post.create_at}}

</div>

{% if detail_post.author == user %}
<div class="update_btn">
    <a href="{% url 'update' detail_post.id %}">수정</a> |
    <a href="{% url 'delete' detail_post.id%}">삭제</a>
</div>
{% endif %}

</section>

<form method="POST" action="{% url 'comment_create' detail_post.id %}">
    
    {% csrf_token %}
   {{comment_form.as_p}}
<button type="submit">작성</button>
</form>

{%for com in comment_all%}
    {{com.body}}(by {{com.author}}){% if com.author == user %} ---- <a href="{% url 'comment_delete' detail_post.id com.id %}">X</a>
    {% endif %}
    <br>
{%endfor%}
</div>

{%endblock%}