{% extends "base.html"%}
{% load static %}
{% block head %}
    <link href="{% static 'AIMcss/edit.css' %}" rel="stylesheet" />
{% endblock %}

{% block leftnav%}
<div class="tab-bar">
    {% comment %} <ul class="tab">
        <li class="tabindex current" data-tab="tab-1">TAB+1</li>
        <li class="tabindex" data-tab="tab-2">TAB+2</li>
        <li class="tabindex" data-tab="tab-3">TAB+3</li>
    </ul> {% endcomment %}
</div>
{% endblock %}

{% comment %} {% block rightnav%}
        <div class="setting-bar">
        {% if user.is_authenticated %}
            <a href="{% url back %}">
                <img src="{% static 'AIMimage/arrow-left-solid.svg' %}" style="cursor:pointer;" class="settinglist" id="setting-icon">
            </a>
            <a href="{% url save %}">
                <img src="{% static 'AIMimage/save-regular.svg' %}" style="cursor:pointer;" class="settinglist" id="setting-icon">
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <button class="loginbutton">Login</button>
            </a>
        {% endif %}
        </div>        
        {% endblock %} {% endcomment %}
{% block content %}
    <br>
    <br>
    <br>
    <hr>

        <section class="containerbox">
            <div class="containers active" id="tab-1">
                <form action="{% url 'edit_page' user.id %}" method="POST">{% csrf_token %}
                    <span>tab1-custom</span>
                    {{ temp_context1.as_p }}
                    <span>tab2-custom</span>
                    {{ temp_context2.as_p }}
                    <span>tab2-custom</span>
                    {{ temp_context3.as_p }}
                    <input type="submit" class="signup-button" value="저장 ">
                </form>
            </div> 
                {% comment %} <div class="items" id="tab-1-1">
                    <h3>Tab 1 Custom URL Button</h3><br>
                    <form action="{% url 'edit_page' user.id %}" method="POST">{% csrf_token %}
                        <label for="id_title"></label>
						<input type="text" name="title" maxlength="10" required="" id="id_title" placeholder="버튼 이름"><br>
						<label for="id_url"></label>
						<input type="text" name="url" maxlength="200" required="" id="id_url" placeholder="URL 주소"><br>
						<input type="submit" class="save-button" value="저장">
                    </form>
                </div>
            </div>
            <div class="containers active" id="tab-2">
                <div class="items" id="tab-2-1">
                    <h3>Tab 2 Custom URL Button</h3><br>
                    <form action="{% url 'edit_page' user.id %}" method="POST">{% csrf_token %}
                        <label for="id_title"></label>
						<input type="text" name="title" maxlength="10" required="" id="id_title" placeholder="버튼 이름"><br>
						<label for="id_url"></label>
						<input type="text" name="url" maxlength="200" required="" id="id_url" placeholder="URL 주소"><br>
						<input type="submit" class="save-button" value="저장">
                    </form>
                </div>
            </div>
            <div class="containers active" id="tab-3">
                <div class="items" id="tab-3-1">
                    <h3>Tab 3 Custom URL Button</h3><br>
                    <form action="{% url 'edit_page' user.id %}" method="POST">{% csrf_token %}
                        <label for="id_title"></label>
						<input type="text" name="title" maxlength="10" required="" id="id_title" placeholder="버튼 이름"><br>
						<label for="id_url"></label>
						<input type="text" name="url" maxlength="200" required="" id="id_url" placeholder="URL 주소"><br>
						<input type="submit" class="save-button" value="저장">
                    </form>
                </div>
            </div> {% endcomment %}
        </section>
    <script src="{% static 'AIMJS/edit.js' %}"></script>
    {% endblock content %}