{% extends "base.html"%}
{% load static %}
{% block head %}
    <link href="{% static 'AIMcss/index_copy.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block leftnav%}
<div class="tab-bar">
    <ul class="tab">
        <li class="tabindex current" data-tab="tab-1">TAB+1</li>
        <li class="tabindex" data-tab="tab-2">TAB+2</li>
        <li class="tabindex" data-tab="tab-3">TAB+3</li>
    </ul>
</div>
{% endblock %}

        {% block rightnav%}
        <div class="setting-bar">
        {% if user.is_authenticated %}
            <a href="{% url 'create_page' user.id %}">
                <img src="{% static 'AIMimage/cog-solid.svg' %}" onclick="alert('수정화면으로 이동합니다.');" style="cursor:pointer;" class="settinglist" id="setting-icon">
            </a>
            <div class="dropdown">
                <div class="dropdown_display"> 메뉴 <span>▼</span></div>
                <div class="dropdown_itembox">
                    <a href="{% url 'profile' user.id %}"><div class="dropdown_item">내 정보</div></a>
                    {% comment %} <div class="dropdown_item"><a href="{% url 'profile_update' user.id %}">정보수정</a></div> {% endcomment %}
                    <a href="{% url 'logout' %}"><div class="dropdown_item">로그아웃</div></a>
                    <a href="{% url 'board' %}"><div class="dropdown_item">게시판</div></a>
                    <a href="{% url 'create' %}"><div class="dropdown_item">글쓰기</div></a>
                </div>
            </div>
        {% else %}
            <div class="login">
                <a href="{% url 'login' %}">
                    <button class="loginbutton">Login</button>
                </a>
            </div>
        {% endif %}
        </div>        
        {% endblock %}
    {% block content %}
    <div class="search">
        <div class="search-items" id="google-search">
            <form action="https://www.google.com/search" autocomplete="off">
                <input type="text" name="q" class="searchTerm" id="google-searchTerm" placeholder="S E A R C H">
                <input type="submit" value="구글 검색" class="search-submit" id="google-submit">
            </form>
        </div>
        <div class="search-items" id="youtube-search">
            <form action="https://www.youtube.com/results" autocomplete="off">
                <input type="text" name="search_query" class="searchTerm" id="youtube-searchTerm" placeholder="S E A R C H">
                <input type="submit" value="유튜브 검색" class="search-submit" id="youtube-submit">
            </form>
        </div>
        <div class="search-items" id="naver-search">
            <form action="https://search.naver.com/search.naver" autocomplete="off">
                <input type="text" name="query" class="searchTerm" id="naver-searchTerm" placeholder="S E A R C H">
                <input type="submit"  value="네이버 검색" class="search-submit" id="naver-submit">
            </form>
        </div>
        <div class="search-items" id="namu-search">
            <form action="https://namu.wiki/Search" autocomplete="off">
                <input type="text" name="q" class="searchTerm" id="namu-searchTerm" placeholder="S E A R C H">
                <input type="submit" value="나무위키 검색" class="search-submit" id="namu-submit">
            </form>
        </div>
        <div class="search-items" id="twitter-search">
            <form action="https://twitter.com/search" autocomplete="off">
                <input type="text" name="q" class="searchTerm" id="twitter-searchTerm" placeholder="S E A R C H">
                <input type="submit" value="트위터 검색" class="search-submit" id="twitter-submit">
            </form>
        </div>
        <div class="search-items" id="instagram-search" autocomplete="off">
            <form>
                <input type="text" name="" class="searchTerm" id="instagram-searchTerm" value="" placeholder="S E A R C H">
                <input type="button" value="인스타 검색" class="search-submit" id="instagram-submit">
            </form>
        </div>
    </div>
    <hr>
        <section class="containerbox">
            <div class="containers active" id="tab-1">
                <div class="containeritem" id="item-1">
                    <hr>
                    <div class="items" id="포털사이트">
                        <h3>포털사이트</h3>
                        <ul>
                            <a href="http://www.google.com/">
                                <li class="item google-item">
                                GOOGLE
                                </li>
                            </a>
                            <a href="http://www.naver.com/">
                                <li class="item naver-item">
                                NAVER
                                </li>
                            </a>
                            <a href="http://www.daum.net/">
                                <li class="item kakao-item">
                                Daum-kakao
                                </li>
                            </a>
                            <a href="http://www.nate.com/">
                                <li class="item red-item">
                                nate
                                </li>
                            </a>
                            <a href="http://zum.com"><li class="item purple-item">
                                ZUM
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="SNS">
                        <h3>SNS</h3>
                        <ul>
                            <a href="http://www.facebook.com/"><li class="item blue-item">
                                Facebook
                            </li></a>
                            <a href="http://www.instagram.com/"><li class="item pink-item">
                                instagram
                            </li></a>
                            <a href="http://www.youtube.com/"><li class="item red-item">
                                Youtube
                            </li></a>
                            <a href="http://twitter.com/"><li class="item skyblue-item">
                                Twitter
                            </li></a>
                            <a href="https://section.blog.naver.com/BlogHome.nhn"><li class="item naver-item">
                                Naver-Blog
                            </li></a>
                            <a href="http://www.pinterest.co.kr/"><li class="item red-item">
                                Pinterest
                            </li></a>
                            <a href="http://www.pikicast.com/"><li class="item skyblue-item">
                                피키캐스트
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Cafe">
                        <h3>Cafe</h3>
                        <ul>
                            <a href="http://section.cafe.naver.com/"><li class="item naver-item">
                                네이버 카페
                            </li></a>
                            <a href="http://top.cafe.daum.net/"><li class="item kakao-item">
                                다음 카페
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Issue">
                        <h3>Issue</h3>
                        <ul>
                            <a href="http://news.naver.com/"><li class="item naver-item">
                                네이버 뉴스
                            </li></a>
                            <a href="http://news.daum.net/"><li class="item kakao-item">
                                다음 뉴스
                            </li></a>
                            <a href="http://www.bbc.com/?prompt"><li class="item black-item">
                                BBC
                            </li></a>
                            <a href="http://www.nytimes.com/"><li class="item black-item">
                                NewYork Times
                            </li></a>
                            <a href="http://www.gov.kr/portal/main"><li class="item skyblue-item">
                                정부24
                            </li></a>
                            <a href="http://www1.president.go.kr/petitions"><li class="item skyblue-item">
                                청와대 국민청원
                            </li></a>
                            <a href="http://petitions.assembly.go.kr/"><li class="item skyblue-item">
                                국회 국민동의청원
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Translate">
                        <h3>번역</h3>
                        <ul>
                            <a href="http://papago.naver.com/"><li class="item naver-item">
                                파파고</a>
                            </li>
                            <a href="http://translate.google.co.kr/"><li class="item google-item">
                                구글 번역기</a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="custom-1">
                        <h3>custom-1</h3>
                        <ul>
                            {% for my_url in custom_urls1 %}
                            <a href="{{my_url.url}}"><li class="item skyblue-item">
                                {{my_url.title}}
                            </li></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="containers" id="tab-2">
                <div class="containeritem" id="item-2">
                    <hr>
                    <div class="items" id="webtoon">
                        <h3>취미-웹툰</h3>
                        <ul>
                            <a href="http://comic.naver.com/webtoon/weekday.nhn"><li class="item naver-item">
                                네이버 웹툰
                            </li></a>
                            <a href="http://page.kakao.com/main"><li class="item kakao-item">
                                카카오페이지
                            </li></a>
                            <a href="http://www.lezhin.com/ko"><li class="item red-item">
                                레진코믹스
                            </li></a>
                            <a href="http://webtoon.daum.net/"><li class="item kakao-item">
                                다음 웹툰
                            </li></a>
                            <a href="http://comics.nate.com/main/"><li class="item red-item">
                                네이트 웹툰
                            </li></a>
                            <a href="https://www.pikicast.com/#!/menu=category&category_id=227"><li class="item skyblue-item">
                                피키캐스트 웹툰
                            </li></a>
                            <a href="http://toptoon.com/"><li class="item red-item">
                                탑툰
                            </li></a>
                            <a href="http://bufftoon.plaync.com/"><li class="item blue-item">
                                버프툰
                            </li></a>
                            {% comment %} <li class="item red-item">
                                <a href="http://www.toomics.com/">투믹스
                            </li></a>
                            <li class="item black-item">
                                <a href="http://www.myktoon.com/web/homescreen/main.kt">케이툰
                            </li></a>
                            <li class="item red-item">
                                <a href="http://www.comico.kr/">코미코
                            </li></a>
                            <li class="item pink-item">
                                <a href="http://www.bomtoon.com/">봄툰
                            </li></a> {% endcomment %}
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Movie">
                        <h3>취미-영화</h3>
                        <ul>
                            <a href="http://www.cgv.co.kr/"><li class="item red-item">
                                CGV
                            </li></a>
                            <a href="http://www.megabox.co.kr/"><li class="item purple-item">
                                메가박스
                            </li></a>
                            <a href="http://www.lottecinema.co.kr/NLCHS"><li class="item red-item">
                                롯데시네마
                            </li></a>
                            <a href="http://www.netflix.com/kr/"><li class="item red-item">
                                넷플릭스
                            </li></a>
                            <a href="http://play.watcha.net/"><li class="item pink-item">
                                Watcha
                            </li></a>
                            <a href="http://www.wavve.com/vod/index.html"><li class="item skyblue-item">
                                wavve
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Streaming">
                        <h3>취미-스트리밍</h3>
                        <ul>
                            <a href="https://afreecatv.com/"><li class="item blue-item">
                                아프리카TV
                            </li></a>
                            <a href="http://www.twitch.tv/"><li class="item purple-item">
                                Twitch
                            </li></a>
                            <a href="http://www.vlive.tv/home/new"><li class="item skyblue-item">
                                V앱
                            </li></a>
                            <a href="https://tv.kakao.com/"><li class="item kakao-item">
                                카카오TV
                            </li>
                            <a href="http://www.gomtv.com/"><li class="item yellow-item">
                                곰TV
                            </li></a>
                            <a href="http://www.youtube.com/"><li class="item red-item">
                                Youtube
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Game">
                        <h3>취미-게임</h3>
                        <ul>
                            <a href="https://kr.leagueoflegends.com/ko-kr/"><li class="item yellow-item">
                                LoL
                            </li></a>
                            <a href="http://www.nexon.com/Home/Game"><li class="item blue-item">
                                넥슨
                            </li></a>
                            <a href="http://www.hangame.com/"><li class="item yellow-item">
                                한게임
                            </li></a>
                            <a href="http://www.plaync.com/"><li class="item blue-item">
                                NC
                            </li></a>
                            <a href="http://www.netmarble.net/"><li class="item yellow-item">
                                넷마블
                            </li></a>
                            <a href="http://www.inven.co.kr/"><li class="item green-item">
                                inven
                            </li></a>
                            <a href="http://www.op.gg/"><li class="item skyblue-item">
                                op.gg
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Sport">
                        <h3>취미-스포츠</h3>
                        <ul>
                            <a href="http://sports.news.naver.com/index.nhn"><li class="item naver-item">
                                네이버 스포츠
                            </li></a>
                            <a href="https://sports.daum.net/"><li class="item kakao-item">
                                다음 스포츠
                            </li></a>
                            <a href="http://www.espn.com/"><li class="item red-item">
                                ESPN
                            </li></a>
                            <a href="http://www.betman.co.kr/main.so"><li class="item black-item">
                                배트맨
                            </li></a>
                            <a href="http://cafe.daum.net/RKBO"><li class="item red-item">
                                RKBO
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="custom-2">
                        <h3>custom-2</h3>
                        <ul>
                            {% for my_url in custom_urls2 %}
                            <a href="{{my_url.url}}"><li class="item skyblue-item">
                                {{my_url.title}}
                            </li></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>    
            <div class="containers" id="tab-3">
                <div class="containeritem" id="item-3">
                <hr>
                    <div class="items" id="Shoping">
                        <h3>쇼핑</h3>
                        <ul>
                            <a href="http://www.gmarket.co.kr/"><li class="item green-item">
                                G마켓
                            </li></a>
                            <a href="https://www.11st.co.kr/"><li class="item red-item">
                                11st
                            </li></a>
                            <a href="http://www.auction.co.kr/"><li class="item red-item">
                                옥션
                            </li></a>
                            <a href="http://www.coupang.com/"><li class="item red-item">
                                쿠팡
                            </li></a>
                            <a href="http://www.interpark.com/"><li class="item red-item">
                                인터파크
                            </li></a>
                            <a href="http://www.tmon.co.kr/"><li class="item orange-item">
                                티몬
                            </li></a>
                            <a href="http://front.wemakeprice.com/main"><li class="item red-item">
                                위메프
                            </li></a>
                            <a href="http://www.ssg.com/"><li class="item pink-item">
                                SSG
                            </li></a>
                            <a href="http://www.danawa.com/"><li class="item green-item">
                                다나와
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Map">
                        <h3>지도</h3>
                        <ul>
                            <a href="http://www.google.co.kr/maps"><li class="item google-item">
                                구글맵
                            </li></a>
                            <a href="http://map.kakao.com/"><li class="item kakao-item">
                                카카오맵
                            </li></a>
                            <a href="http://map.naver.com/"><li class="item naver-item">
                                네이버 지도
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Translate">
                        <h3>번역</h3>
                        <ul>
                            <a href="http://papago.naver.com/"><li class="item naver-item">
                                파파고
                            </li></a>
                            <a href="http://translate.google.co.kr/"><li class="item google-item">
                                구글 번역기
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="E-Study">
                        <h3>인터넷 강의</h3>
                        <ul>
                            <a href="http://www.ebs.co.kr/main"><li class="item blue-item">
                                EBS
                            </li></a>
                            <a href="http://www.etoos.com/"><li class="item skyblue-item">
                                이투스
                            </li></a>
                            <a href="http://www.mimacstudy.com/"><li class="item blue-item">
                                대성마이맥
                            </li></a>
                            <a href="http://skyedu.conects.com/"><li class="item skyblue-item">
                                스카이에듀
                            </li></a>
                            <a href="http://www.megastudy.net/"><li class="item blue-item">
                                메가스터디
                            </li></a>
                            <a href="http://www.ybm.co.kr/"><li class="item red-item">
                                YBM
                            </li></a>
                            <a href="http://eng.conects.com/"><li class="item blue-item">
                                영단기
                            </li></a>
                            <a href="http://www.siwonschool.com/"><li class="item skyblue-item">
                                시원스쿨
                            </li></a>
                            <a href="https://www.hackers.co.kr/"><li class="item blue-item">
                                해커스
                            </li></a>
                            <a href="http://www.pagoda21.com/"><li class="item red-item">
                                파고다
                            </li></a>
                            <a href="http://www.eduwill.net/"><li class="item skyblue-item">
                                에듀윌
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="Coding">
                        <h3>개발</h3>
                        <ul>
                            <a href="http://github.com/"><li class="item black-item">
                                Github
                            </li></a>
                            <a href="http://stackoverflow.com/"><li class="item orange-item">
                                Stack Overflow
                            </li></a>
                            <a href="http://getbootstrap.com/"><li class="item purple-item">
                                getbootstrap
                            </li></a>
                            <a href="http://www.w3schools.com/"><li class="item green-item">
                                w3schools
                            </li></a>
                            <a href="http://fontawesome.com/"><li class="item skyblue-item">
                                Fontawesome
                            </li></a>
                            <a href="http://flatuicolors.com/"><li class="item blue-item">
                                Flatuicolors
                            </li></a>
                        </ul>
                    </div>
                    <hr>
                    <div class="items" id="custom-3">
                        <h3>custom-3</h3>
                        <ul>
                            {% for my_url in custom_urls3 %}
                            <a href="{{my_url.url}}"><li class="item skyblue-item">
                                {{my_url.title}}
                            </li></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </section>
    <script src="{% static 'AIMJS/index.js' %}"></script>
    {% endblock content %}