{% extends "base.html"%}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'AIMcss/write.css' %}" type="text/css" />
{% endblock %}
{% block rightnav%}
        <a class="board_btn" href="{% url 'board' %}">
            게시판
        </a>
{% endblock %}
{% block content %}
<section class="writeform">
<h1>글쓰기 PAGE</h1>
<form method="POST">
    {% csrf_token %}
    <label for="id_title"></label>
	<input type="text" name="title" maxlength="50" required="" id="id_title" placeholder="제목">
	<label for="id_desc"></label>
	<textarea name="desc" cols="40" rows="10" required="" id="id_desc" placeholder="내용">
    </textarea>
	<button type="submit">작성</button>
</form>
</form>
</section>
{%endblock%}